<div class="fluid-container box wider">
    <h1 style="text-align: center;">The League</h1>
    <span class="pull-left" style="text-align: center;font-size: 33px;margin:30px;">
       <input type="text" ng-model="vm.newTeam">
    </span>
    <span class="pull-right" style="font-size: 33px;margin:30px;">
         Week {{vm.teams[0].played || 0}}
     </span>  
    <table class="table">
        <thead>
       <tr>
           <th>Team Name</th>
           <th>Played</th>
           <th>Win</th>
           <th>Lose</th>
           <th>Draw</th>
           <th>Home</th>
           <th>Away</th>
           <th>G</th>
           <th>GA</th>
           <th>GD</th>
           <th>Points</th>
       </tr>
       </thead>
       <tbody>
        <tr style="margin:30px;" ng-repeat="team in vm.teams | orderBy:['-points','-gd']">
           <td>{{ team.name }}</td>
           <td>{{ team.played }}</td>
           <td>{{ team.win }}</td> 
           <td>{{ team.lose }}</td> 
           <td>{{ team.draw }}</td> 
           <td>{{ team.home || 0 }}</td>
           <td>{{ team.away || 0 }}</td>
           <td>{{ team.goals }}</td> 
           <td>{{ team.goalsAgainst }}</td>
           <td>{{ team.gd }}</td> 
           <td>{{ team.points }}</td>
        </tr>
        </tbody>
    </table>
   <button class="btn btn-success pull-left" ng-click="vm.updateTeam(vm.newTeam)">Add Team</button>
   <button class="btn btn-success pull-right" ng-click="vm.mainCalculate()">Calculate Week</button>
 </div>
