body {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  background-repeat: repeat-x;
  background-position: center; 
  background-image: url(../img/pitch.jpg);
  background-size: cover;
}

.container-fluid {
  margin-top: 60px; 
  
}

.wider {
  margin: 10% 15%;
  opacity:0.8;
}

h1 {
  text-align: center;
  letter-spacing: 0.2px;
  font-size: 26px;
  font-weight: 800;
  padding: 13px 0px 14px 10px;
  margin: 0px; }

h3 {
  font-size: 20px;
  font-weight: bold;
  border-top: 1px solid #E2E2E2;
  padding: 10px 0 0 0; }

h4 {
  color: #903F98;
  text-align: left;
  font-size: 36px;
  font-weight: 200; }

hr {
  border: 1px solid #E2E2E2; }

.container-fluid {
  padding: 0; }

a {
  color: #4A90E2; }
  a:hover, a:active, a:focus, a.hover, a.active, a.focus {
    text-decoration: underline;
    color: #4A90E2;
    cursor: pointer; }

ul {
  list-style: none;
  padding: 0px; }

.approvalbuttons p {
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px; }

/*BUTTONS and FIELDS*/
.box {
  background-color: white;
  border: 14px solid #E2E2E2;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px; }

.buttonsrow {
  background-color: #E2E2E2;
  padding: 20px 0;
  margin-bottom: 15px; }
  .buttonsrow:last-of-type {
    margin-bottom: -15px; }

.navbar.navbar-fixed-bottom .buttonsrow {
  margin-bottom: 0px !important; }

/*.top .btn {width:100%;
         display: inline-block;
         text-align: center;
}*/
.btn-primary {
  color: white !important;
  background-color: #585F69 !important;
  border: none !important;
  display: inline-block;
  margin: 0 auto;
  background-image: none;
  border-radius: 0px;
  height: 55px;
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 600;
  min-width: 100px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -4px 0px #000000;
  -moz-box-shadow: inset 0px -4px 0px #000000;
  box-shadow: inset 0px -4px 0px #000000;
  margin-right: 10px;
  padding-top: 2px;
  float: left; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.hover, .btn-primary.active, .btn-primary.focus {
    color: white !important;
    background-color: #585F69 !important;
    border: none !important;
    display: inline-block;
    margin: 0 auto;
    background-image: none;
    border-radius: 0px;
    height: 55px;
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 600;
    min-width: 100px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px -4px 0px #000000;
    -moz-box-shadow: inset 0px -4px 0px #000000;
    box-shadow: inset 0px -4px 0px #000000;
    box-shadow: none !important;
    outline: none !important;
    margin-right: 10px;
    padding-top: 6px;
    -webkit-box-shadow: inset 0px 0px 0px transparent;
    -moz-box-shadow: inset 0px 0px 0px transparent;
    box-shadow: inset 0px 0px 0px transparent; }

.btn-secondary {
  color: black !important;
  background-color: white !important;
  border: none !important;
  display: inline-block;
  margin: 0 auto;
  background-image: none;
  border-radius: 0px;
  height: 55px;
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 600;
  min-width: 100px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -4px 0px #000000;
  -moz-box-shadow: inset 0px -4px 0px #000000;
  box-shadow: inset 0px -4px 0px #000000;
  float: right;
  padding-top: 2px; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary.hover, .btn-secondary.active, .btn-secondary.focus {
    color: black !important;
    background-color: white !important;
    border: none !important;
    display: inline-block;
    margin: 0 auto;
    background-image: none;
    border-radius: 0px;
    height: 55px;
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 600;
    min-width: 100px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px -4px 0px #000000;
    -moz-box-shadow: inset 0px -4px 0px #000000;
    box-shadow: inset 0px -4px 0px #000000;
    box-shadow: none !important;
    outline: none !important;
    padding-top: 6px;
    -webkit-box-shadow: inset 0px 0px 0px transparent;
    -moz-box-shadow: inset 0px 0px 0px transparent;
    box-shadow: inset 0px 0px 0px transparent; }

.btn.disabled.btn-secondary {
  background-color: white !important;
  color: #585F69 !important; }

.btn.disabled {
  color: #E2E2E2 !important;
  background-color: #585F69 !important;
  border: none !important;
  display: inline-block;
  margin: 0 auto;
  background-image: none;
  border-radius: 0px;
  height: 55px;
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 600;
  min-width: 100px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -4px 0px #000000;
  -moz-box-shadow: inset 0px -4px 0px #000000;
  box-shadow: inset 0px -4px 0px #000000;
  -webkit-box-shadow: inset 0px 0px 0px transparent;
  -moz-box-shadow: inset 0px 0px 0px transparent;
  box-shadow: inset 0px 0px 0px transparent;
  padding-top: 4px;
  margin-right: 10px; }
  .btn.disabled:last-of-type {
    margin-right: 0px; }
  .btn.disabled:hover, .btn.disabled:active, .btn.disabled:focus, .btn.disabled.hover, .btn.disabled.active, .btn.disabled.focus {
    padding-top: 4px; }

.btn-primary[disabled], .btn-secondary[disabled] {
  padding-top: 6px; }
  .btn-primary[disabled]:hover, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled].hover, .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-secondary[disabled]:hover, .btn-secondary[disabled]:active, .btn-secondary[disabled]:focus, .btn-secondary[disabled].hover, .btn-secondary[disabled].active, .btn-secondary[disabled].focus {
    padding-top: 6px; }

.btn.btn-link {
  color: #4A90E2;
  float: right; }
  .btn.btn-link:hover, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link.hover, .btn.btn-link.active, .btn.btn-link.focus {
    outline: none;
    text-decoration: underline; }

/*CONTENT and FORMS*/
.panel-default .panel-heading {
  background-color: white;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid #F8F8F8;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  .panel-default .panel-heading .panel-title a {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #903F98; }
    .panel-default .panel-heading .panel-title a:hover, .panel-default .panel-heading .panel-title a:active, .panel-default .panel-heading .panel-title a:focus, .panel-default .panel-heading .panel-title a.hover, .panel-default .panel-heading .panel-title a.active, .panel-default .panel-heading .panel-title a.focus {
      text-decoration: none;
      outline: none !important;
      color: #903F98; }

.panel-title {
  margin-top: -4px; }
  .panel-title .glyphicon {
    color: white !important;
    background-color: #903F98 !important;
    padding: 20px;
    margin-right: 5px;
    font-size: 16px; }

.input-group-addon {
  color: white !important;
  background-color: #585F69 !important;
  border: none !important;
  -webkit-box-shadow: inset 0px -4px 0px #000000;
  -moz-box-shadow: inset 0px -4px 0px #000000;
  box-shadow: inset 0px -4px 0px #000000;
  padding-top: 3px; }
  .input-group-addon:hover, .input-group-addon:active, .input-group-addon:focus, .input-group-addon.hover, .input-group-addon.active, .input-group-addon.focus {
    -webkit-box-shadow: inset 0px 0px 0px #000000;
    -moz-box-shadow: inset 0px 0px 0px #000000;
    box-shadow: inset 0px 0px 0px #000000;
    padding-top: 6px; }

.glyphicon {
  font-size: 16px;
  margin-top: 2px;
  vertical-align: 10%; }

.glyphicon-search {
  margin-top: 5px; }

.form-control {
  padding: 6px 8px; }
  @media screen and (max-width: 992px) {
    .form-control {
      height: 46px; } }
  .form-control:focus {
    border-color: #585F69;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.1); }

select::-ms-expand {
  display: none; }

input:not([type=checkbox]), select, textarea {
  height: 40px;
  border-radius: 2px !important;
  -webkit-appearance: none; }

.checkrow label {
  margin-right: 15px;
  font-weight: bold; }

textarea {
  resize: none; }


input {
  box-shadow: none; }

/*TABLE*/
.table, table td{
   border-color: #ccc;
}

.table {
  width:100%;
  margin: 0px; }

.table-bordered {
  border: 0px;
  border-top: 1px solid #ddd; }
  .table-bordered thead tr th {
    border-left: 0px; }
  .table-bordered thead.top tr th {
    border-left: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    font-weight: normal; }
    .table-bordered thead.top tr th:first-of-type {
      border-left: 0; }
  .table-bordered thead.top tr.graybg th {
    background: #f6f6f6;
    font-weight: 700; }
  .table-bordered tbody tr td {
    border-left: 0px; }

th.no-border {
  border: none !important;
  text-align: left;
  font-weight: bold !important; }

.table > thead > tr > th, .table > tbody > tr > td {
  vertical-align: middle; }

table th, table tr {
  text-align: center; }

.table.left tr th:first-of-type, .table.left tr td:first-of-type {
  text-align: left;
  padding-left: 20px; }

.table > tbody > tr > td {
  padding: 25px 15px; }

.table > thead > tr > th {
  border-bottom: initial; }

.table > tbody > tr.month > td {
  padding: 2px 15px;
  background: #ddd;
  text-align: left; }

th {
  background: #f6f6f6; }

tr.success td.weekend {
  background: repeating-linear-gradient(45deg, #f1f1f1, #f1f1f1 2px, #f8fbdd 2px, #f8fbdd 6px) !important; }

tr td.weekend, tr th.weekend {
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 2px, white 2px, white 6px); }

.top tr td.weekend, .top tr th.weekend {
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 2px, white 2px, white 6px) !important; }

tr td.newrev {
  background: #E2E2E2; }

tr.colorbg td.weekend {
  background: #EAF498; }

.colorbg {
  background: #EAF498; }

/*Highlight third party supplier*/
.thirdparty {
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 2px, white 2px, white 6px); }

.thirdparty:active, .thirdparty:hover {
  background: #DFEEFF !important; }

/*Highlight current day*/
.table-bordered > tbody > tr > td.current {
  box-shadow: inset -2px 0px 0px #AF78B4, inset 3px 0px 0px #AF78B4; }

.table-bordered > tbody > tr:last-of-type > td.current {
  box-shadow: inset -2px 0px 0px #AF78B4, inset 3px 0px 0px #AF78B4, inset 0px -2px 0px #AF78B4; }

.table-bordered > thead > tr > th.current {
  box-shadow: inset -2px 0px 0px #AF78B4, inset 3px 0px 0px #AF78B4, inset 0px 2px 0px #AF78B4; }

/*TABLE ROW HIGHLIGHT*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .table-hover tbody tr:hover td.weekend {
  background: #DFEEFF !important; }

.table-hover tbody tr.active:hover td, .table-hover tbody tr.active:hover th,
.table-hover tbody tr.info:hover td, .table-hover tbody tr.info:hover th {
  background: #DFEEFF !important; }

.table-hover tbody tr.success:hover td, .table-hover tbody tr.success:hover th,
.table-hover tbody tr.success:hover td.weekend {
  background: #eff6af !important; }

.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
  background: #f8fbdd; }

.table > tbody > tr.new > td, .table > tbody > tr.new > th, .table > tbody > tr > td.new, .table > tbody > tr > th.new, .table > tfoot > tr.new > td, .table > tfoot > tr.new > th, .table > tfoot > tr > td.new, .table > tfoot > tr > th.new, .table > thead > tr.new > td, .table > thead > tr.new > th, .table > thead > tr > td.new, .table > thead > tr > th.new {
  background: #E2E2E2; }

.table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > thead > tr > td.info, .table > thead > tr > th.info {
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 2px, white 2px, white 6px); }

.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
  background: #DFEEFF !important; }

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
  vertical-align: middle; }

td {
  min-width: 35px; }

th, td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.minusdays {
  font-weight: 700;
  color: white;
  background-color: #D0021B;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  padding: 0.3em 0.5em; }

.notfinal {
  color: #4A90E2;
  font-weight: 600; }

thead.top tr th {
  background: white; }
  thead.top tr th .jump {
    margin-top: -30px; }

.table > thead.top:first-child > tr:first-child > th {
  border-top: 1px solid #E2E2E2; }

.table > thead.top:first-child > tr:nth-of-type(3) > th {
  border-bottom: 1px solid #E2E2E2; }

td img {
  vertical-align: -7%;
  margin-right: 4px; }

.actuals-med-risk {
  position: relative;
  background-image: none !important; }

.actuals-med-risk:after {
  content: url("../img/medrisk-icon.svg");
  float: right;
  margin-top: -35px;
  margin-right: -2px;
  display: block; }

.actuals-high-risk {
  position: relative;
  background-image: none !important; }

.actuals-high-risk:after {
  content: url("../img/highrisk-icon.svg");
  float: right;
  margin-top: -35px;
  margin-right: -2px;
  display: block; }

.table-bordered > thead > tr > th:last-of-type, .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0; }

/*SCROLLABLE TABLE WITH A FIXED HEADER*/
.table-fixed thead {
  width: 100%; }
  .table-fixed thead th .checkbox {
    margin: 0; }
    .table-fixed thead th .checkbox label {
      font-weight: bold; }

.checkbox {
  margin: 0; }

.checkrow .checkbox {
  margin-top: 10px;
  margin-bottom: 10px; }

.table-fixed > thead:first-child > tr:first-child > th {
  padding-right: 20px;
  border-bottom: 1px solid #E2E2E2; }

.table-fixed > tbody > tr:first-child > td {
  border-top: 0; }

.table-fixed tbody {
  max-height: 300px;
  overflow-y: auto;
  width: 100%; }

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block; }

.table-fixed tbody td, .table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0; }

/*Overwrite ui-grid.min*/
.areasGrid {
  height: 400px; }

.arealist .panel-body {
  padding-top: 0; }

.arealist .checkrow .checkbox {
  margin-top: 0; }

.arealist .control-label {
  padding-top: 0; }

.panel-body {
  /*padding-top: 0;*/
  border: 0; }

.ui-grid {
  border: 0;
  border-top: 1px solid #E2E2E2; }

.ui-grid-header-cell {
  border-right: 1px solid #ddd !important; }

.ui-grid-cell-contents {
  padding: 20px 0px;
  text-align: center;
  border-bottom: 1px solid #ddd !important; }

.ui-grid-header {
  border-bottom: 0px; }

.ui-grid-canvas {
  padding: 0; }

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: white;
  height: initial; }

.ui-grid-top-panel {
  background: white;
  text-align: center;
  border-bottom: 0px; }

.ui-grid-cell {
  border-color: #ddd !important; }

.ui-grid-row:nth-child(odd) .ui-grid-cell {
  height: initial; }

.ui-grid-row .ui-grid-cell:hover, .ui-grid-row .ui-grid-cell:active, .ui-grid-row .ui-grid-cell:focus {
  background-color: #DFEEFF !important; }

div.ui-grid-viewport.ng-isolate-scope {
  height: initial; }

.ui-grid-invisible {
  display: none; }

.table-responsive > .fixed-columns-fixed {
  position: absolute;
  display: inline-block;
  width: auto;
  border-right: 2px solid #ddd !important;
  background-color: #fff; }

.ui-grid-render-container-body .ui-grid-header-canvas {
  width: 100%; }

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child,
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
  border-right-color: #ddd; }

.ui-grid-scrollbar-placeholder {
  background-color: #ddd !important;
  border-top: 1px solid #ddd !important; }

.table .form-group {
  margin: 0px; }

.ui-grid-header-cell {
  background-color: #F8F8F8; }

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background: #DFEEFF !important; }

/*DATEPICKER*/
.uib-datepicker-popup.dropdown-menu {
  box-shadow: none;
  background-color: white;
  border: 3px solid #903F98;
  padding: 0; }
  .uib-datepicker-popup.dropdown-menu th {
    border-bottom: 1px solid #E2E2E2; }
  .uib-datepicker-popup.dropdown-menu td {
    padding: 6px; }

.uib-datepicker-popup:focus, .uib-datepicker-popup:active {
  outline: none; }

.uib-daypicker button {
  border-radius: 0;
  border: 0;
  font-size: 14px; }
  .uib-daypicker button .btn-sm.pull-left, .uib-daypicker button .btn-sm.pull-right {
    background-color: transparent; }
  .uib-daypicker button .glyphicon {
    font-size: 12px;
    margin-top: 4px; }

.btn-default, .btn-default[disabled], .btn-default[disabled]:hover {
  background-color: transparent; }

.btn-default:focus {
  outline: 0; }

.btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
  background-color: #903F98;
  border: 0;
  outline: 0 !important; }

/*BUBBLE SPEECH*/
.bubble {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 0px;
  background: #F8F8F8;
  -webkit-box-shadow: inset -2px 0px 0px black;
  -moz-box-shadow: inset -2px 0px 0px black;
  box-shadow: inset -2px 0px 0px black;
  border: 1px solid #E2E2E2;
  border-right: 1px solid transparent;
  padding: 15px 15px 20px 15px; }
  .bubble:after {
    content: "";
    position: absolute;
    top: 18px;
    right: -14px;
    border-style: solid;
    border-width: 12px 0 12px 14px;
    border-color: transparent black;
    display: block;
    width: 0;
    z-index: 1; }

.bubble, .log, .summary {
  margin-bottom: 15px; }
  .bubble ul li, .log ul li, .summary ul li {
    border-bottom: 1px solid #E2E2E2;
    padding: 10px 0; }
    .bubble ul li:first-child, .log ul li:first-child, .summary ul li:first-child {
      color: black;
      font-weight: bold; }
    .bubble ul li:last-child, .log ul li:last-child, .summary ul li:last-child {
      border: 0px; }
    .bubble ul li p, .bubble ul li a, .log ul li p, .log ul li a, .summary ul li p, .summary ul li a {
      display: inline-block;
      margin: 10px 0;
      vertical-align: middle; }
      .bubble ul li p img, .bubble ul li a img, .log ul li p img, .log ul li a img, .summary ul li p img, .summary ul li a img {
        line-height: 30px;
        margin-right: 10px; }
    .bubble ul li button.btn.btn-link, .log ul li button.btn.btn-link, .summary ul li button.btn.btn-link {
      vertical-align: -webkit-baseline-middle;
      line-height: 30px; }

.bubble ul {
  margin-top: -15px; }

.log {
  color: #D0021B; }

.bubble-empty {
  position: relative;
  max-width: 500px;
  height: auto;
  padding: 0px;
  background: white;
  border: 1px solid black;
  border-width: 2px 0 0 0;
  padding: 30px 15px 20px 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: auto; }
  .bubble-empty:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 47%;
    border-style: solid;
    border-width: 0 14px 15px;
    border-color: black transparent;
    display: block;
    width: 0;
    z-index: 1; }

.upload {
  width: 50px;
  margin: 10px auto 35px auto;
  display: block; }

.building {
  width: 310px;
  margin: 10px auto 35px auto;
  display: block; }

.export {
  height: 58.33px;
  margin: 10px auto 35px auto;
  display: block; }

.panel-body.exportimg {
  border-bottom: 2px solid #E2E2E2; }

/*PROGRESSBAR*/
.panel-progress {
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle; }

.progress-bar {
  background-color: #903F98;
  color: white; }

.progress {
  background-color: #E2E2E2;
  height: 20px;
  border-radius: 10px; }

/*BREADCRUMBS*/
.breadcrumb {
  background-color: #585F69;
  margin: -26px -1px 0 -1px;
  border-radius: 0px;
  padding-left: 35px;
  font-size: 12px; }
  .breadcrumb a {
    color: #DFEEFF; }
  .breadcrumb .active {
    color: white; }

/*POPUP*/
.modal-body {
  text-align: center;
  font-weight: 600; }
  .modal-body img {
    padding-top: 15px;
    margin-bottom: 10px;
    color: #D0021B; }
  .modal-body p {
    padding-bottom: 10px; }

.modal-content {
  border-radius: 2px;
  border: 5px solid #E2E2E2; }

.modal-dialog {
  margin: 300px auto; }

[ng-click],
[data-ng-click] {
  cursor: pointer; }

.modal-header, .modal-footer {
  border: 0; }

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 120px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s; }

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -120px, 0);
  transform: translate3d(0, -120px, 0);
  opacity: 1; }

/*RISKS AND REVISIONS INDICATORS*/
.dashed {
  border-bottom: 1px dashed black;
  display: inline; }

.mediumRisk {
  background-color: orange; }

.highRisk {
  background-color: red; }

/*REVISION REQ*/
.table td button.btn.btn-primary, .table td button.btn.btn-secondary {
  float: none;
  height: 40px;
  width: 140px; }

.table.left > thead:first-child > tr:first-child > th {
  border-top: 1px solid #E2E2E2; }

td.request {
  background-color: #F8F8F8; }

button.revisionreq.btn.btn-link {
  float: none;
  padding: 0;
  color: #4A90E2;
  font-weight: 600; }
  button.revisionreq.btn.btn-link:hover, button.revisionreq.btn.btn-link:active, button.revisionreq.btn.btn-link:focus, button.revisionreq.btn.btn-link.hover, button.revisionreq.btn.btn-link.active, button.revisionreq.btn.btn-link.focus {
    text-decoration: none; }
  button.revisionreq.btn.btn-link span {
    border-bottom: 1px dashed black; }

.revisionapproved:after {
  content: url("../img/complete-icon.svg");
  float: right;
  margin-top: -16px;
  margin-right: -4px;
  display: block; }
  @media screen and (max-width: 1366px) {
    .revisionapproved:after {
      margin-top: -37px; } }

.revisionapproved button.btn.btn-link {
  float: none;
  padding: 0;
  color: #4A90E2;
  font-weight: 600; }
  .revisionapproved button.btn.btn-link:hover, .revisionapproved button.btn.btn-link:active, .revisionapproved button.btn.btn-link:focus, .revisionapproved button.btn.btn-link.hover, .revisionapproved button.btn.btn-link.active, .revisionapproved button.btn.btn-link.focus {
    text-decoration: none; }
  .revisionapproved button.btn.btn-link span {
    border-bottom: 1px dashed black; }

.revisionrejected:after {
  content: url("../img/reject-icon.svg");
  float: right;
  margin-top: -16px;
  margin-right: -4px;
  display: block; }
  @media screen and (max-width: 1366px) {
    .revisionrejected:after {
      margin-top: -37px; } }

.revisionrejected button.btn.btn-link {
  float: none;
  padding: 0;
  color: #4A90E2;
  font-weight: 600; }
  .revisionrejected button.btn.btn-link:hover, .revisionrejected button.btn.btn-link:active, .revisionrejected button.btn.btn-link:focus, .revisionrejected button.btn.btn-link.hover, .revisionrejected button.btn.btn-link.active, .revisionrejected button.btn.btn-link.focus {
    text-decoration: none; }
  .revisionrejected button.btn.btn-link span {
    border-bottom: 1px dashed black; }

/*LOGIN*/
.login {
  text-align: center;
  margin-bottom: 15px; }
  .login img {
    height: 60px; }

.middle {
  text-align: center; }

.alert {
  text-align: center;
  border: 0;
  padding: 8px;
  border-radius: 0px;
  margin-top: 75px; }

.alert-danger {
  color: #D0021B;
  background-color: #ffecee; }

.alert-success {
  color: #7a8a00;
  background-color: #f3f9c6; }

/*QA*/
@media screen and (min-width: 1024px) {
  .body-qa .navbar-default {
    height: 50px;
    border-bottom: 4px solid #af78b4; }
    .body-qa .navbar-default .navbar-nav li a {
      line-height: 20px; } }

@media screen and (max-width: 1023px) {
  .body-qa .navbar-default {
    margin-bottom: 60px; } }

@media screen and (min-width: 1024px) {
  .body-qa .navigation {
    height: 30px; } }

@media screen and (min-width: 1024px) {
  .body-qa .navbar-header {
    height: 30px; } }

@media screen and (min-width: 1024px) {
  .body-qa .navbar .navbar-brand {
    line-height: 40px; }
    .body-qa .navbar .navbar-brand img {
      width: 90px;
      height: auto; } }

.body-qa {
  background-image: none;
  max-height: 600px; }
  .body-qa .container-fluid {
    margin-bottom: 0; }
  .body-qa p {
    display: inline-block;
    font-size: 16px;
    font-weight: 700; }
    .body-qa p span {
      font-weight: 500;
      margin-right: 10px; }
      .body-qa p span:last-of-type {
        margin-right: 0px; }
    .body-qa p:nth-of-type(2) {
      float: right; }
  .body-qa .form-group {
    margin-top: 15px; }
    @media screen and (min-width: 1024px) {
      .body-qa .form-group div.col-sm-6 {
        padding-left: 0; } }
  @media screen and (min-width: 1024px) {
    .body-qa .buttonsrow .container {
      padding-right: 0;
      padding-left: 0; }
      .body-qa .buttonsrow .container div.col-xs-12 {
        padding-right: 0;
        padding-left: 0; } }
  .body-qa a.btn-primary {
    padding-top: 24px;
    float: none;
    width: 165px;
    height: 70px;
    margin-right: 0; }
    .body-qa a.btn-primary:hover, .body-qa a.btn-primary:active, .body-qa a.btn-primary:focus, .body-qa a.btn-primary.hover, .body-qa a.btn-primary.active, .body-qa a.btn-primary.focus {
      padding-top: 26px; }
  .body-qa .modal-backdrop {
    z-index: -1; }
  .body-qa .modal-dialog {
    margin: 60px auto; }
    @media screen and (max-width: 600px) {
      .body-qa .modal-dialog {
        margin: 30px; } }
  .body-qa .operativeslist.modal-body {
    padding-top: 0; }
    @media screen and (max-width: 600px) {
      .body-qa .operativeslist.modal-body {
        padding: 0; } }
    .body-qa .operativeslist.modal-body .row {
      max-height: 310px;
      overflow-y: scroll;
      overflow-x: auto; }
      @media screen and (max-width: 600px) {
        .body-qa .operativeslist.modal-body .row {
          max-height: 1024px; } }
      .body-qa .operativeslist.modal-body .row .panel-body {
        padding: 25px;
        border: 1px solid #E2E2E2;
        border-left: 0px;
        border-top: 0px; }
  @media screen and (max-width: 600px) {
    .body-qa .row {
      margin: 0; } }
  @media screen and (max-width: 600px) {
    .body-qa .col-xs-8 {
      padding-left: 0; } }
  .body-qa .navbar-default {
    margin-bottom: 20px; }
    @media screen and (max-width: 1023px) {
      .body-qa .navbar-default {
        margin-bottom: 30px; } }
  .body-qa .navbar-collapse.collapse {
    display: block !important;
    float: right; }
  .body-qa .navbar-nav li {
    line-height: 50px; }
    .body-qa .navbar-nav li a {
      color: #2D1E3E; }
      @media screen and (max-width: 1023px) and (min-width: 767px) {
        .body-qa .navbar-nav li a {
          line-height: 50px !important; } }
    .body-qa .navbar-nav li:last-of-type {
      position: absolute;
      top: 0px;
      right: 15px;
      line-height: 50px;
      background-color: #BED600;
      font-weight: 600;
      -webkit-box-shadow: inset 0px -4px 0px #EAF498;
      -moz-box-shadow: inset 0px -4px 0px #EAF498;
      box-shadow: inset 0px -4px 0px #EAF498; }
      .body-qa .navbar-nav li:last-of-type:hover, .body-qa .navbar-nav li:last-of-type:active, .body-qa .navbar-nav li:last-of-type:focus, .body-qa .navbar-nav li:last-of-type.hover, .body-qa .navbar-nav li:last-of-type.active, .body-qa .navbar-nav li:last-of-type.focus {
        color: black;
        background-color: #EAF498;
        -webkit-box-shadow: inset 0px -4px 0px #BED600;
        -moz-box-shadow: inset 0px -4px 0px #BED600;
        box-shadow: inset 0px -4px 0px #BED600; }
      .body-qa .navbar-nav li:last-of-type .glyphicon {
        margin-left: 4px;
        vertical-align: text-top !important; }
    .body-qa .navbar-nav li:first-of-type {
      color: white;
      background-color: #585F69;
      padding: 0 15px;
      -webkit-box-shadow: inset 0px -4px 0px #7c8591;
      -moz-box-shadow: inset 0px -4px 0px #7c8591;
      box-shadow: inset 0px -4px 0px #7c8591;
      position: absolute;
      right: 115px;
      top: 0px;
      font-weight: lighter;
      letter-spacing: 0.3px; }
      @media screen and (max-width: 1023px) {
        .body-qa .navbar-nav li:first-of-type {
          position: absolute;
          width: 100%;
          left: 0;
          top: 80px;
          -webkit-box-shadow: inset 0px 0px 0px #7c8591;
          -moz-box-shadow: inset 0px 0px 0px #7c8591;
          box-shadow: inset 0px 0px 0px #7c8591; } }
  .body-qa .navbar-nav li span:after {
    content: ",";
    margin-right: 2px; }
  .body-qa .navbar-nav li span:last-of-type:after {
    content: "";
    margin-right: 0px; }
  @media screen and (max-width: 768px) {
    .body-qa .navbar-default .navbar-nav li a {
      line-height: 60px; } }
  .body-qa .navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
    float: right; }
  .body-qa .table td {
    padding: 25px 8px; }

@media screen and (max-width: 600px) {
  .container.qa {
    padding: 0; } }

.qa {
  min-height: 394px;
  max-height: 394px; }
  .qa .bubbleqa {
    position: relative;
    width: 100%;
    padding: 0px;
    -webkit-box-shadow: inset -2px 0px 0px black;
    -moz-box-shadow: inset -2px 0px 0px black;
    box-shadow: inset -2px 0px 0px black;
    border: 0;
    border-right: 1px solid transparent;
    padding: 0 40px 0 0; }
    @media screen and (max-width: 600px) {
      .qa .bubbleqa {
        padding: 0 20px 0 0;
        min-height: 830px;
        max-height: 830px; } }
    .qa .bubbleqa:after {
      content: "";
      position: absolute;
      top: 145px;
      right: -14px;
      border-style: solid;
      border-width: 12px 0 12px 14px;
      border-color: transparent black;
      display: block;
      width: 0;
      z-index: 1; }
    .qa .bubbleqa .box {
      border: 14px solid #E2E2E2;
      min-height: 394px;
      max-height: 394px;
      margin-bottom: 0; }
      @media screen and (max-width: 600px) {
        .qa .bubbleqa .box {
          min-height: 830px;
          max-height: 830px; } }
  .qa .box {
    max-height: 394px;
    overflow-x: auto;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 0; }
    @media screen and (max-width: 600px) {
      .qa .box {
        max-height: 830px; } }
  @media screen and (max-width: 600px) {
    .qa .col-xs-3 {
      padding-right: 5px;
      padding-left: 5px; } }
  @media screen and (max-width: 600px) {
    .qa .col-xs-9 {
      padding-right: 5px; } }
  @media screen and (min-width: 1023px) {
    .qa .col-xs-9 {
      padding-right: 0px; } }

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: center; }

table.floatThead-table {
  background-color: #FFF; }

@media print {
  .screenOnly {
    display: none; } }

@media screen {
  .printOnly {
    display: none; } }

@media print {
  body {
    font-size: 10px; }
  table, tr, td {
    page-break-before: avoid; }
  .table > thead > tr > th {
    padding: 5px; }
  .table > tbody > tr > td {
    padding: 5px 2px; }
  .table.left tr th:first-of-type, .table.left tr td:first-of-type {
    padding-left: 10px; }
  .center-vertical {
    display: inline-block;
    vertical-align: middle; }
  p {
    word-wrap: break-word;
    margin: 0 0 5px; } }

td.longtext {
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  text-align: left;
  max-width: 200px; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  justify-content: center; }

.flex-item {
  outline: 1px solid #E2E2E2;
  margin: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
  flex: 1 0;
  height: auto;
  font-size: 16px; }

.ti {
  font-size: 1.4vw; }

.sm {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  font-size: 0.7vw; }

.md {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  font-size: 0.5vw; }

.lg {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  font-size: 0.6vw; }

.red-indicator {
  background-color: #d9534f; }

.amber-indicator {
  background-color: #ffcc00; }

.green-indicator {
  background-color: #5CB85C; }

.tableBorder {
  border: 1px solid black !important; }

#performanceDate {
  font-size: 2vw;
  height: 100%; }

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

#loaderTitle {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 20%;
  display: table; }

#loaderTitleTxt {
  font-size: 40px;
  font-size: 2vw;
  font-size: 2v;
  font-weight: 900;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s; }

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

#myDiv {
  background-color: white;
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 5s ease 0s normal forwards 1 fadein; }

@keyframes fadein {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#tumbleweed {
  height: 400px;
  position: relative; }

.ajax-loader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* presto! */ }

body {
  margin: 0;
  padding: 0; }

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%; }

.view_port {
  top: 30%;
  z-index: 100;
  width: 140%;
  overflow: hidden;
  margin-left: -40%;
  position: absolute;
}


